.navbar {
    border-bottom: var(--accent-color) 3px solid;
    background-color: var(--primary-color);
    opacity: 0.8;
}

#home {
    min-height: 500px;
    background: url('https://images.unsplash.com/photo-1721137287642-43b251bd6f00?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    color: var(--secondary-color);
}

#home .dark-overlay {
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#home .home-inner {
    padding: 6rem 0 3rem 0;
}

#home .card-form {
    opacity: 0.8;
}